:root {
  --foreground-color: rgba(177, 173, 173, 0.644);
  --background-color: #242424;
  --border-color: rgba(177, 173, 173, 0.644);
  --border-width: 2px;
  --border-radius: 8px;
  --border: var(--border-width) solid var(--border-color);
}

body {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--foreground-color);
  background-color: var(--background-color);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  border: var(--border);
  border-radius: var(--border-radius);
}

.header {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
  padding: 1rem;
  border-bottom: var(--border);
}

.logo {
  width: 2rem;
  height: 2rem;
}

.content {
  flex: 1;
  width: 100%;
  overflow: hidden;
  display: flex;
}

.canvas {
  width: 100%;
  height: 100%;
  display: block;
}

